In [1]:
#join function
import pandas as pd
d1={"Name":["Sai","Sub","Poo"],"Age":[20,21,22]}
d2={"Qualified":[True,True,False]}

In [3]:
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
print(df2)
newdf=df1.join(df2)

  Name  Age
0  Sai   20
1  Sub   21
2  Poo   22
   Qualified
0       True
1       True
2      False

In [5]:
print(newdf)

  Name  Age  Qualified
0  Sai   20       True
1  Sub   21       True
2  Poo   22      False

In [7]:
#merge function
f2={"Name":["Sai","Sub","Poo"],"Area":["Chennai","Mumbai","Delhi"]}
f=pd.DataFrame(f2)
print(newdf)
print(f)
newdf2=(f.merge(newdf,on="Name"))
print(newdf2)
newdf3=(newdf.merge(f,on="Name"))
print(newdf3)

  Name  Age  Qualified
0  Sai   20       True
1  Sub   21       True
2  Poo   22      False
  Name     Area
0  Sai  Chennai
1  Sub   Mumbai
2  Poo    Delhi
  Name     Area  Age  Qualified
0  Sai  Chennai   20       True
1  Sub   Mumbai   21       True
2  Poo    Delhi   22      False
  Name  Age  Qualified     Area
0  Sai   20       True  Chennai
1  Sub   21       True   Mumbai
2  Poo   22      False    Delhi

In [23]:
df=pd.DataFrame({'team':['A','B','C','D'],'points':[90,56,75,88],'assist':[12,34,23,44],'rebound':[56,43,55,12]})
print(df)
df=pd.melt(df,id_vars='team',value_vars=['points','assist','rebound'])
print(df)

  team  points  assist  rebound
0    A      90      12       56
1    B      56      34       43
2    C      75      23       55
3    D      88      44       12
   team variable  value
0     A   points     90
1     B   points     56
2     C   points     75
3     D   points     88
4     A   assist     12
5     B   assist     34
6     C   assist     23
7     D   assist     44
8     A  rebound     56
9     B  rebound     43
10    C  rebound     55
11    D  rebound     12