In [15]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/Employee Details - sheet1.csv")
print(d)

    Sno First Name Gender login Time  Salary  Bonus(%)                   Team
0     1      Akash      M      10:30   10000        10                 worker
1     2     Bikash      M      10:36   12000        20                 worker
2     3    Central      M      10:20   10000        10                 worker
3     4     Deekan      M      10:25   15000        30                 worker
4     5     Sheela      F      10:29   20000        10                 Worker
5     6      meenu      F      10:37   50000        10                Manager
6     7      Geenu      F      10:35   30000        10             Supervisor
7     8      Heenu      F      10:31   34000        12             Supervisor
8     9       Innu      F      10:40   18000        13                 Worker
9    10    Jarkand      M      10:30   22000        12             Supervisor
10   11    Kishore      M      10:15   25000        11  maintainence manager
11   12   Manveeth      M      10:19   40000        30                Manager
12   13     Mirdhu      F      10:40   45000        45                     HR
13   14      Neanu      F      10:30   60000        10             HR,Finance
14   15       Oppu      M      10:29   98000         9        General Manager
15   16       Paru      F      10:33   10000        10                 Worker
16   17      Qubit      M      10:31   19000        12                 Worker
17   18     Sheela      F      10:30  100000        40                  Admin
18   20     Sheenu      M      10:50  100000        35                  Admin

In [19]:
df=pd.DataFrame(d)
print("Columns",df.columns)
print(df.shape)

Columns Index(['Sno', 'First Name', 'Gender', 'login Time', 'Salary', 'Bonus(%)',
       'Team'],
      dtype='object')
(19, 7)

In [7]:
import pandas as pd
d=pd.read_csv("/Users/student/Downloads/Employee Details - sheet1.csv")
df=pd.DataFrame(d)
print("First Name",df['First Name'])

First Name 0        Akash
1       Bikash
2      Central
3       Deekan
4       Sheela
5        meenu
6        Geenu
7        Heenu
8         Innu
9      Jarkand
10     Kishore
11    Manveeth
12      Mirdhu
13       Neanu
14        Oppu
15        Paru
16       Qubit
17      Sheela
18      Sheenu
Name: First Name, dtype: object

In [9]:
print(df[5:10])

   Sno First Name Gender login Time  Salary  Bonus(%)        Team
5    6      meenu      F      10:37   50000        10     Manager
6    7      Geenu      F      10:35   30000        10  Supervisor
7    8      Heenu      F      10:31   34000        12  Supervisor
8    9       Innu      F      10:40   18000        13      Worker
9   10    Jarkand      M      10:30   22000        12  Supervisor

In [15]:
print("Particular Person Details:\n",df.loc[8])

Particular Person Details:
 Sno                9
First Name      Innu
Gender             F
login Time     10:40
Salary         18000
Bonus(%)          13
Team          Worker
Name: 8, dtype: object

In [19]:
print(d.loc[d['Salary']==100000])

    Sno First Name Gender login Time  Salary  Bonus(%)   Team
17   18     Sheela      F      10:30  100000        40  Admin
18   20     Sheenu      M      10:50  100000        35  Admin

In [23]:
df=d['Salary']/10000
print(df)

0      1.0
1      1.2
2      1.0
3      1.5
4      2.0
5      5.0
6      3.0
7      3.4
8      1.8
9      2.2
10     2.5
11     4.0
12     4.5
13     6.0
14     9.8
15     1.0
16     1.9
17    10.0
18    10.0
Name: Salary, dtype: float64