In [3]:
import pandas as pd
import numpy as np
print("DataFrame.apply Function:\n")
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\nOrignal DataFrame:\n",info)
print("\nSquare root of DataFrame:\n",info.apply(np.sqrt))
print("\nSum of each Column:\n",info.apply(np.sum,axis=0))
print("\nSum of each row:\n", info.apply(np.sum,axis=1))

DataFrame.apply Function:


Orignal DataFrame:
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

Square root of DataFrame:
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

Sum of each Column:
 S    12
R    36
dtype: int64

Sum of each row:
 0    12
1    12
2    12
3    12
dtype: int64

In [7]:
import pandas as pd
import numpy as np
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]])
col=['X','Y','Z']
print("Original DataFrame:\n",info)
print("\nMinimum & Maximum of each column:\n")
print(info.agg(['min','max']))
d2=pd.DataFrame([['Sai',88],['Poo',70]])
column=['EMP','ID']
print("\n",d2)

Original DataFrame:
    0  1  2
0  2  4  6
1  1  3  5
2  5  8  7

Minimum & Maximum of each column:

     0  1  2
min  1  3  5
max  5  8  7

      0   1
0  Sai  88
1  Poo  70

In [14]:
#adding new column
d2['Age']=[20,18]
print(d2)
d=d2.assign(sex=['Male','Female'])
print("\n")
print(d)

     0   1  Age
0  Sai  88   20
1  Poo  70   18


     0   1  Age     sex
0  Sai  88   20    Male
1  Poo  70   18  Female

In [24]:
#creating a dataframe using random values
info=pd.DataFrame(np.random.randn(5,2), index=[3,2,0,4,1], columns=['col3','col4'])
print(info)

       col3      col4
3  0.089773 -1.899881
2 -0.123971 -0.011310
0  1.099731 -0.401506
4  0.670899  0.382973
1  0.600054 -0.093771

In [23]:
#sorting based on index
info2=info.sort_index()
print("\nSorting based on the index:\n",info2)
#sorting based on the index
info3=info.sort_values(by='col3')
print("\nSorting based on the values:\n",info3)

Sorting based on the index:
        col3      col4
0 -0.712692 -0.139316
1 -0.680129 -1.065387
2 -1.314797  0.457403
3  0.300063 -0.878695
4 -0.300031 -0.410344

Sorting based on the values:
        col3      col4
2 -1.314797  0.457403
0 -0.712692 -0.139316
1 -0.680129 -1.065387
4 -0.300031 -0.410344
3  0.300063 -0.878695

In [32]:
left=pd.DataFrame({'id':[1,2,3,4],'Name':['ANU','ARJUN','JOHAN','HARISH'],'Sub':['LICA','T&D','DLC','EM2']})
right=pd.DataFrame({'id':[1,2,3,4],'Name':['JOSHUA','DINESH','KAILASH','BARATH'],'Sub':['EDC','M&I','EMT','EM1']})
print(pd.merge(left,right,on="id"))

   id  Name_x Sub_x   Name_y Sub_y
0   1     ANU  LICA   JOSHUA   EDC
1   2   ARJUN   T&D   DINESH   M&I
2   3   JOHAN   DLC  KAILASH   EMT
3   4  HARISH   EM2   BARATH   EM1